body {
    background-color: gray;
    font-family: lucida grande;
    outline-style: none;  
    text-decoration: underline;  
    font-size: 15px;  
    font-weight: bold;

}

input {
  center
  

}